:root {
  --primary-color:/* ##PAGECOLOR## */;  
  --secondary-button-bg :  /* ##SECONDARYCOLOR## */; 
  --primary-button-text: #4A4A4A ;
  --secondary-button-text : white ;
  --pop-up-bg :  #ffffff  ;
  --primary-text : #4A4A4A ; 
  --input-border :white ;
  --panel-color:/* ##PAGEBACKGROUNDCOLOR## */ ; 
  --panel-blur : /* ##PANELBLUR## */ ;
  --panel-transparency :/* ##PANELTRANSPARENCY## */; 
  --separate-line : #ffffff;
  --input-opacity : 0.6 ; 
}

input:-webkit-autofill { 
  -webkit-background-clip: text;
}
.primary-text{
  color: var(--primary-color) !important;

}

.primary-button{
  color: var(--primary-button-text) ;
  background-color: var(--primary-color) ;
  font-family: Inter, sans-serif !important; 
}
.secondary-button{
  color: var(--secondary-button-text)  !important ;
  background-color: var(--secondary-button-bg) !important ;
}
.primary-color-80tr{
  color: var(--primary-color)!important ;
  opacity: 0.8;
}


.secondary-text{
  color: var( --primary-color) !important;
  opacity: var(--input-opacity) !important;
}



.secondary-button:hover {
  -webkit-transition: 0.3s -webkit-filter ease;
  -moz-transition: 0.3s -moz-filter linear;
  -moz-transition: 0.3s filter linear;
  -ms-transition: 0.3s -ms-filter linear;
  -o-transition: 0.3s -o-filter linear;
  transition: 0.3s filter linear, 0.3s -webkit-filter linear;
  filter: brightness(85%)
}

.primary-button:hover {
  opacity: 0.7
}







* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif !important;
  scroll-behavior: smooth !important;
}

button {
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;

}

a {
  color: inherit
}
body {
  width: 100%;
  min-height: 100vh;
  background-image: url("BG/default.jpg"); /* ##PHOTONAME## */ 
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased
}




.blank {
  height: 100px;
  width: 100%
}
.panel-blur {
  position: absolute;
  justify-content: space-between;
  min-height: 100%;
  width: 525px;
  border-left: 1px solid rgba(255, 255, 255, .4);
  border-right: 1px solid rgba(255, 255, 255, .4);
  background: var(--panel-color);
  backdrop-filter: blur(var(--panel-blur));
  -webkit-backdrop-filter:   blur(var(--panel-blur));
  display: flex;
  flex-direction: column
}

#left-blur{
  left: 0;
} 
#right-blur{
  right: 0;
} 

#center-blur{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
} 


.header--left-blur {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 50px;
  position: relative;
  top: 100px;
  padding-left: 79px
}
.header--left-blur__logo {
  display: flex;
  flex-direction: column;
  gap: 30px
}
.header--left-blur__t1 {

  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: normal
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px
}
.input-container {
  width: 320px;
  position: relative ;
}

#hidden-item , #hidden-footer , #hidden-reset , #hidden-html5 , #hidden-domain{
  display: none;
}

#no-border::before{
  height:80px;
}
input {
  width: 320px;
  height: 35px;
  background-color: inherit;
  border: none;
  border-bottom: transparent 2px solid;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  outline-offset: 15px;
  padding-left: 10px;
  position: relative;
  overflow: hidden !important;
  text-overflow: ellipsis  !important;
  padding-right: 40px !important;
  box-sizing:content-box  !important;
}
select {
  color: #4a4a4a
}
input:focus {
  color: #4a4a4a
}

.input-container::before {
  content: "";
  transition: width 2s;
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--underLine-color);
  bottom: 0;
  left: 0
}

#underline {
  position: relative;
  bottom: 0;
  height: 2px;
  width: 100%
}
#underline::before {
  content: "";
  transition: width 2s;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  bottom: 0;
  left: 0;
  transition: width .5s ease
}
.input-container input:focus~#underline::before {
  width: 100%;
}
input:focus {
  outline: 0
}
input:hover {
  cursor: text
}
.input-select, button {
  cursor: pointer;
  font-weight: 500
}
button {
  display: flex;
  justify-content: center;
  align-items: center;


}

.cd-buttons input {
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
}


.btn-container {
  width: 320px;
  height: 45px;
  display: flex;
  font-size: 15px;
  gap: 1px;
  position: relative;
  margin-top: 10px
}
.btn-container h2 {
  position: absolute;
  bottom: -30px;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  width: 100%
}
.submiBtn {
  height: 100%;
  border: none;
  font-size: 18px;
  font-size: 600
}

#submiBtn-extanded {
  width: 100%;
  border-radius: 6px 6px 6px 6px;
}
.htm5lBtn {
  font-weight: 500;
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: ease
}
.htm5lBtn:hover{
  cursor: pointer;
  filter: brightness(75%);
}

.btn-container button:first-child {
  width: 70%;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 6px 0 0 6px
}

#arrow {
  position: absolute;
  top: 50%;
  right: -12px;
  transform: translateY(-30%);
  pointer-events: none;
}
.input-select {
  width: 100px;
  border: none;
  background: #a3a3a3;

  color: #fff;
  border-radius: 0 6px 6px 0;

  display: flex;
  justify-content: center;
  padding-left: 15px;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 100%;
  -webkit-appearance: none;
  appearance: none;

}
.select-wrapper {
  position: relative;
  width: 77px;
  height: 45px;
  background: #a3a3a3;
  border-radius: 0 6px 6px 0;
}
.input-select>* {
  background: #a3a3a3
}
.footer--left-blur {
  height: 130px;
  width: 100%;
  border: linear-gradient(270deg, rgba(136, 136, 136, .2) 0, rgba(136, 136, 136, .45) 100%) 1px solid;
  position: relative;
  display: flex;
  padding-left: 79px;
  align-items: center
}
.footer--left-blur__before {
  height: auto;
  width: 100%;
  position: relative
}
.footer--left-blur__before::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--underLine-color);
  top: 0
}
.footer--left-blur a {
  color: var(--primary-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline
}
.footer--left-blur h2 {
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  color: rgba(74, 74, 74, .8);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal
}
.password-container {
  position: relative;
  width: 320px
}
#togglePassword {
  color: #a3a3a3;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 1s -webkit-transition: 0.3s -webkit-filter ease;
  -moz-transition: 0.3s -moz-filter linear;
  -moz-transition: 0.3s filter linear;
  -ms-transition: 0.3s -ms-filter linear;
  -o-transition: 0.3s -o-filter linear;
  transition: 0.3s filter linear, 0.3s -webkit-filter linear;
}

#togglePassword path{
  stroke : var(--primary-color) ;
}

#togglePassword:hover {
  cursor: pointer;
  filter: brightness(80%)
}

#bold-a:hover {
  filter: brightness(65%);
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
}
footer, header {
  display: block
}
body {
  line-height: 1
}
ul {
  list-style: none
}
img-replace {
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap
}
header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background-color: #5e6e8d;
  color: #fff
}
header h1 {
  font-size: 20px;
  font-size: 1.25rem
}


.popup-f2a #underline::before , .cd-popup  #underline::before {
  background:#888; 
 
}

  .popup-f2a  .input-container::before , .popup-f2a .input-container::before , #cd-popup-container__form .input-container::before {
    height: 2px;
    background: linear-gradient(90deg, rgba(136, 136, 136,.45) 0, rgba(136, 136, 136, .2) 100%) !important;
  }



.cd-popup {
  position: fixed;
  transition: all 2s;
  -webkit-transition: all .3s;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .6);
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cd-popup-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 404px;
  height: 237px;
  justify-content: center;
  align-items: center;
  background: var(--pop-up-bg);
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  transition-duration: .3s;
  padding: 42px 42px 42px 42px
}
.cd-popup-container p {
  text-align: center;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal
}
.cd-popup-container h2 {
  color: #888;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal
}
.cd-buttons {
  width: 290px;
  position: relative;
  display: flex;
  justify-content: space-around
}
.cd-buttons li {
  width: 50%;
  list-style: none;
  border-radius: 5px
}
.cd-buttons li:hover {
  cursor: pointer
}
.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: background-color .2s;
  -moz-transition: background-color .2s;
  transition: background-color .2s
}
.cd-popup-container .cd-buttons li:first-child {
  display: flex;
  width: 135.503px;
  height: 44px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0
}
.cd-popup-container .cd-buttons li:last-child {
  background: #a3a3a3;
  color: #fff;
  display: flex;
  width: 135.503px;
  height: 44px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0
}
.cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px
}
.cd-popup-close::after, .cd-popup-close::before {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #888
}
.cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px
}
.cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;

}

#cd-popup-2fa {

  opacity: 1;
  visibility: visible;
  display: block;

  width: 100%;


}

#cd-popup-container__2fa {
  height: 700px;
  width: 75%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);


}

#cd-popup-container__2fa p {
  font-size: 36px;
}



.btn-container__2fa {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-container__2fa button {
  width: 70%;
  height: 50px;
  border-radius: 6px;
  border: 0;
}

.btn-container__2fa-first {
  background-color: #888;
  color: white;
}

.btn-container__2fa-second {
  background: #4a4a4a;
  color: white;
}

#cd-popup-container__2fa form {
  width: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: auto;
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin-top: 35px;
  padding-bottom: 5px;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
}
#input-container-2fa {
  width: 75%;

}

#input-container-2fa__h2 {
  text-align: left;
  margin-bottom: 20px;
  margin-top: 20px;
}




@media only screen and (min-width:1170px) {
  .cd-popup-container {
      margin: 8em auto
  }
}
#cd-popup-form {
  display: flex
}
#cd-popup-container__form {
  height: auto;
  padding-left: 0;
  padding-right: 0;
  align-items: center
}
#cd-popup-container__form form {
  gap: 10px
}
#cd-popup-container__form input {
  color: #888;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal
}
#cd-popup-container__form button {
  display: flex;
  border-radius: 10px;
  width: 135.503px;
  height: 44px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 30px
}
@media screen and (max-width:972px) {
  .header--left-blur {
      transform: translateY(-70px)
  }
  .panel-blur {
      width: 100%;
      justify-content: center;
      align-items: center
  }
  .panel-blur>div {
      width: 525px
  }
  .footer--left-blur {
      justify-content: center;
      padding-left: 0
  }
}